
/*CSS Document*/

body {
    background: #EEE;
}

.circularbg {
    background: -webkit-radial-gradient(center top, circle closest-corner, #2A2E30, #111414);
    background: -moz-radial-gradient(center top, circle closest-corner, #2A2E30, #111414);
    background: -ms-radial-gradient(center top, circle closest-corner, #2A2E30, #111414);
    background: -o-radial-gradient(center top, circle closest-corner, #2A2E30, #111414);
    background: radial-gradient(center top, circle closest-corner, #2A2E30, #111414);
}

.left {
    position: absolute;
    left: 50%;
    margin-left: -245px;
    width: 245px;
    height: 350px;
    border: solid 1px white;
    padding: 50px;
}
.right {
    color: white;
    position: absolute;
    left: 50%;
    margin-left: 101px;
    width: 150px;
    border: solid 1px white;
    padding: 20px;
    height: 410px;
    overflow-y: scroll;
}

#question {
    width: 244px;
    height: 244px;
    background: #fff;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
}
.qid {
    float: left;
    text-align: center;
    font-size: 35px;
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ccc;
    border: solid 1px #fff;
    border-top: 0;
    border-left: 0;
    cursor : pointer;
}

#answer {
    width: 215px;
    margin: 0;
    margin-top: 40px;
    letter-spacing: 4px;
    padding: 15px;
    font-size: 20px;
    outline: none;
    background: black;
    color: white;
    border: 0;
}
